.upload-card {
  @include flex-box(column);
  background-color: var(--secondary-300);
  border-radius: 0.75rem;
  width: 20rem;
  height: 14.5rem;

  &__body-wrapper {
    @include flex-box(column, center, center);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23E2EDFFFF' stroke-width='2' stroke-dasharray='6%2c 10' stroke-dashoffset='4' stroke-linecap='round'/%3e%3c/svg%3e");
    height: 11.25rem;
    &.upload-card__body-wrapper_dragging {
      background-color: var(--primary-100);
    }
  }
  &__img {
    height: 11.25rem;
  }
  &__icon {
    width: 4.25rem;
    height: 3.15881rem;
  }
  &__body {
    @include flex-box(column, center, center, 0.5rem);
  }
  &__label {
    text-align: center;
    width: 10rem;
    font-size: 0.875rem;
    &_light {
      color: var(--secondary-200);
    }
    &_bold {
      color: var(--primary-500);
      font-weight: 500;
    }
  }
  &__input {
    visibility: hidden;
  }
}
.caption {
  @include flex-box(row, space-between, center);
  padding: 1rem 0.75rem;

  &__text {
    @include font-style(0.875rem, 400);
    color: var(--black-500);
  }
  &__options {
    position: relative;
    &-list {
      width: 7rem;
      box-shadow: 0px 0px 4px 0px rgba(0, 67, 101, 0.05);
      background-color: var(--color-white);
      border-radius: 0.5rem;
      padding: 0.5rem 0.75rem;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }
}
.options {
  width: 5rem;
  @include flex-box(row, flex-start, center, 0.5rem);
  &__text {
    @include font-style(0.875rem, 400);
    &_edit {
      color: var(--black-500);
    }
    &_delete {
      color: var(--fail-500);
    }
  }
  &__divider {
    height: 1px;
  }
}
